# ワークフローの名前
name: 01_basic

# ワークフローが起動する条件
# https://docs.github.com/ja/actions/writing-workflows/workflow-syntax-for-github-actions#on
on:
  # mainブランチへのプルリクエストが更新されたら
  pull_request:
    branches: [ 'main' ]

# https://docs.github.com/ja/actions/writing-workflows/workflow-syntax-for-github-actions#jobs
jobs:
  test_job:
    # ubuntuをサーバーとして使用
    runs-on: ubuntu-latest

    # steps以下は順に実行される
    # https://docs.github.com/ja/actions/writing-workflows/workflow-syntax-for-github-actions#jobsjob_idsteps
    steps:
      # リポジトリのcheckout
      - uses: actions/checkout@v4
      # pythonのインストール
      - uses: actions/setup-python@v5

      # Unit Test実行
      - name: Run Test
        run: |
          cd src
          python -m unittest test_main

